<html>
<head>
    <!--info是一个对象，name则是该对象的一个属性-->
    <title>Edit Info for Soft: {{info.name}}</title>
</head>
<body>
<h1>Edit Soft_Info</h1>
<hr/>
<center>
    <!--以POST方式将修改后的信息提交到UpdatesoftInfo-->
    <form name='edit_info' action='UpdateSoftInfo' method='post'>
        Name: <input type='text' name='name' value={{info.name }} readonly/>
        version: <input type='text' name='version' value={{info.version }}/>
        md5: <input type='text' name='md5' value={{info.md5 }}/>
        sha1: <input type='text' name='sha1' value={{info.sha1 }}/>
        <select name="dep">
                        <<option value="1000">ALL</option>
                        <option value="1001">市场部</option>
                        <option value="1002">营业部</option>
                        <option value="1003">客服部</option>
                        <option value="1004">账户管理部</option>
                        <option value="1005">财务部</option>
                        <option value="1006">风险运营部</option>
                        <option value="1007">企划部</option>
                        <option value="1008">内审部</option>
                        <option value="1009">总经办</option>
            </select>
        <input type='submit' value='Submit'/>
        <input type='Reset' value='Reset'/>
    </form>
</center>
<hr/>
</body>
</html>