<html>
<head>
    <!--这里的{{title}}表示title这个变量的内容由服务器端产生并填写到该位置-->
    <title>{{title}}</title>
<body>
<center><h1>Welcome to UserManager</h1></center>
<hr/>
<center>
    <!--表单以POST方式提交到AddUser-->
    <form name = 'new_user' action = 'Adduser' method = 'post'>

            名字:<input type = 'text' name = 'name' />
            <select name="dep">
                        <option value="1000">ALL</option>
                        <option value="1001">市场部</option>
                        <option value="1002">营业部</option>
                        <option value="1003">客服部</option>
                        <option value="1004">账户管理部</option>
                        <option value="1005">财务部</option>
                        <option value="1006">风险运营部</option>
                        <option value="1007">企划部</option>
                        <option value="1008">内审部</option>
                        <option value="1009">总经办</option>
            </select>
            <!--部门编号 :<input type = 'text' name = 'dep' value='1000'/>-->
            <input type = 'submit' value = '添加' />
            <input type = 'reset' value = '重设' />
    </form>
<hr/>
    <form name = 'del_user' action = 'DeleteUser' method = 'get'>

            名字:<input type = 'text' name = 'name' />
            <!--部门编号 :<input type = 'text' name = 'dep' value='1000'/>-->
            <input type = 'submit' value = '删除' />
    </form>
<table border = 1>
        <tr style = 'font-weight:bold' align = 'center'>
                <td width = '200' >名字</td>
                <td width = '200' >dep</td>
                <td width = '100' ></td>
                <td width = '100' ></td>
        </tr>
        <!--users是一个由服务器端通过查询数据库而产生的列表，这里用for语句可以把用户信息全部输出-->
        {% for user in users %}
        <tr align = 'center'>
                <!--user.name即是用户名。下同-->
                <td>{{ user.name }}</td>
                <td>{{ user.dep}}</td>
                <!--编辑链接，可以编辑指定软件名的信息-->
                <td><a href = '/user/EditUser?name={{user.name}}' >Edit</a></td>
                <!--删除链接，可以删除指定用户名的信息-->
                <td><a href = '/user/DeleteUser?name={{user.name}}' >Delete</a></td>
        </tr>
        <!--for循环结束-->
        {% end %}
</table>
</center>
</body>
</html>